:root {
    --azulClaro: #134f5c;
    --azulOscuro: #0a313a;
    --rojo: #b34050;
    --blanco: #ffffff;
    --gris: #d3d3d3;
    --negro: #000000;

}


.navSucursales {
    background-color: var(--azulOscuro);
    display: flex;
    padding: 0.3vw 0vw 0.3vw 0;
}
.btnNuevaSucursal {
    background-color: var(--blanco);
    color: var(--azulClaro);
    cursor: pointer;
    border-radius: 3vw;
    width: 14vw;
    margin: 0 3vw;
}



.btnHabilitados{
    background-color: var(--blanco);
    color: var(--azulClaro);
    cursor: pointer;
    border-radius: 3vw;
    width: 12vw;
    margin: 0px 0vw 0  15vw;
}
.btnhabilitar{
    background-color: var(--blanco);
    color: var(--azulOscuro);
    border-color: var(--azulOscuro);
    cursor: pointer;
    border-radius: 3vw;
    width: 10vw;
}
.buscar{
    background-color: var(--blanco);
    color: var(--azulClaro);
    font-size: 1vw;
    cursor: pointer;
    width: 40vw;
    margin: 0 1.5vw 0 0;
}
.search {
    display: flex;
    margin: 0vw 0.5vw 0 6vw;
}
.imgBuscar{
    height: 2vw;
    cursor: pointer;
}
.btnSucursal{
    align-self: center;
    font-size: 1.3vw;
}

.table-wrapper{
    height: 43vw;
    /* Altura de ejemplo */
    overflow: auto;
    width: 100%;
}
.estilosTable {
    width: 100%;
    text-align: center;
    font-size: 1.3vw;
}
 
.estilosTable, .estilosTable th, .estilosTable td {
    border: 0.01vw solid var(--negro);
}
 
.estilosTable td {
    padding: 0.2vw 2vw;
    font-size: 1vw;
    text-align: center;
    vertical-align: middle;
}
.titleTable{
    font-size: 1.2vw;
}
.tituloTable{
    margin: 0px 4vw;
    font-size: 1.2vw;
}

.titleRow{
position: relative;
}
.tituloTableAcceptRefuse{
    margin: 0;
}

  
  .table-wrapper table {
    border-collapse: separate;
    border-spacing: 0;
  }
  
  .table-wrapper table thead {
    position: -webkit-sticky; /* Safari... */
    position: sticky;
    top: 0;
    left: 0;
  }
  
  .table-wrapper table thead th{
    background-color: var(--blanco);
  }
  .table-wrapper table tbody td {
    background-color: var(--blanco);
  }

.tableForImg td img{
    height: 1.6vw;
    margin: 0.5vw 0px;
}