:root {
    --azulClaro: #134f5c;
    --azulOscuro: #0a313a;
    --rojo: #b34050;
    --blanco: #ffffff;
    --gris: #d3d3d3;
    --negro: #000000;

}* {
    font-family: 'Roboto', sans-serif;
}div {
    box-sizing: border-box;
}
body {
	background-color:var(--gris);
}
.contenedor1 {
	display: flex;
	justify-content: center;
	padding-top: 10vw;
	padding-bottom: 1.5vw;
}
.formulariologin {
	background-color: var(--blanco);
	padding: 2.60vw 7.28vw;
	border-radius: 0.20vw;
}
h2, h1, h3{
	text-align: center;
	margin-bottom: 20px;
}
h1{
    color: var(--azulOscuro);
    font-size:  2.63vw; 
}
h2{
    color: var(--azulClaro);
    font-size: 2.64vw;
}
input[type="text"], input[type="password"]{
	display: block;
	width: 100%;
	padding: 0.4vw 6vw;
	text-align: center;
}
.iniciarsesion{
	background-color:var(--azulClaro);
	color: var(--blanco);
	cursor: pointer;
	border-radius: 1vw;
	padding: 0.40vw;
	width: 100%;
}
.contenedor2{
    text-align: center;
}
.olvidocontrasena{
    background-color:var(--azulOscuro);
    color: var(--blanco);
    cursor: pointer;
    border-radius: 0;
    padding: 0.5vw 10vw;
    margin: 1vw 0 0 0;
}